*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html body {
    font-family: 'Nunito Sans', sans-serif;
    color: grey;
    margin: 0 auto;
}

html body .container {
    margin: 0 auto;
    max-width: 960px;     
}

h1, h2, h3, h4, h5, h6 {
    color: darkgray;
    margin-top: 45px;
}

div p {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 3% 5%;
}

.headerImg {
    position: relative;
}

    .headerImg span{
        position: absolute;
        bottom: 5%;
        left: 5%;
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

.map {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.logoChar {
    margin:0 auto;
    margin-bottom: 30px;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
}

.techsImg {
    display: block;
    border: 1px red dashed;
    margin: 50px auto;
    align-content: space-between;
}

.cards {
    border-radius: 5px;
    display: block;
    margin-bottom: 60px;
    color: inherit;
    background-color: white;
    box-shadow: 4px 0px 5px 3px rgba(128,128,128,.3);
}

.cards p {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 5px;
}

footer {
    background-color: grey;
    color: white;
    display: block;
    height: 350px;
    width: 100%;
}